.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.user-container {
  flex: 0 0 calc(25% - 20px);
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 17px 15px 11px gainsboro;
  max-width: 27em;
}

.user-container:hover {
  transform: scale(1.1);
  transition: 0.7s;
}

.user-description {
  margin-top: 5px;
  font-size: 16px;
  word-wrap: break-word;
}

.post-image {
  max-width: 400px;
}

.posted-by {
  font-weight: 300;
}

.read-more {
  font-size: 19px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .user-container {
    flex: 0 0 calc(50% - 20px);
    max-width: 22em;
  }
  .post-image {
    max-width: 325px;
  }
}
