.post-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  margin: 20px;
}

.user-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 17px 15px 11px gainsboro;
  max-width: 27em;
  transition: transform 0.7s;
}

.user-container:hover {
  transform: scale(1.1);
}

.user-description {
  margin-top: 5px;
  font-size: 16px;
  word-wrap: break-word;
}

.post-image {
  max-width: 400px;
}

.posted-by {
  font-weight: 300;
}

.read-more {
  font-size: 19px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .user-container {
    max-width: 22em;
  }
  .post-image {
    max-width: 325px;
  }
}
